{% extends 'cork/base.html' %}
{% load static %}

 {% load widget_tweaks %}
 {% load crispy_forms_tags %}
  {% block head-css %}
	<link href="{% static 'rakuda/assets/plugins/smart-wizard/css/smart_wizard_all.min.css'%}" rel="stylesheet" type="text/css" />
   <style>
   .form_heigth{
       height: 40px;
   }
   </style>
    {% endblock %}


      {% block app-Title%}Genesis{% endblock %}
{% block breadcrumb%}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0);">Etat Civil</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="javscript:void(0);">Ajouter</a></li>
    </ol>
{% endblock %}

{% block button-action%}
    <form method="post" action="" novalidate>
            {% csrf_token %}
    <div class="ms-auto">
                        <a href="{% url 'materialList' %}" class="btn btn-outline-danger">
                            Annuler</a>
                        <button type="submit" class="btn btn-success">Sauvegarder</button>

					</div>
{% endblock %}
  {% block content %}
{% for message in messages %}
    <div style="display: none" id="message">

        {{ message | safe }}
    </div>
{% endfor %}
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-bottom:24px;">

					<div class="col-xl-12 mx-auto">

						<div class="card">
							<div class="card-body">
                                     <h4>Informations sur la  Requisition</h4>

                                    <div class="row">
                                        <div class="col-md-6 form-group mb-3">

                                            {{ form.numero|add_class:'form_heigth form-control-rounded form-control numReq'|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6 form-group mb-3">

                                            {{ form.entrepot_id|add_class:'form-control form_heigth form-control-rounded select2'|as_crispy_field }}

                                        </div>

                                       <h4>Liste des Requetes de la Requisition</h4>
                                        <div class="separator-breadcrumb border-top"></div>
                                <table class="table">
                                            {{ detail.management_form }}

                                            {% for form in detail.forms %}
                                                {% if forloop.first %}
                                                    <thead>
                                                    <tr>
                                                        {% for field in form.visible_fields %}
                                                            <th>{{ field.label|capfirst }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>
                                                {% endif %}
                                                <tr class="formset_row">
                                                    {% for field in form.visible_fields %}
                                                        <td>
                                                            {# Include the hidden fields in the form #}
                                                            {% if forloop.first %}
                                                                {% for hidden in form.hidden_fields %}
                                                                    {{ hidden }}
                                                                {% endfor %}
                                                            {% endif %}
                                                            {{ field.errors.as_ul }}

                                                            {{ field }}
                                                       <small> <br/>{{ field.help_text }}</small>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                        <br>


                                    </div>





                                    </div>
							</div>
						</div>


				</div>
</form>
    {% endblock %}

{% block foot-javascript %}
    <script src="{% static 'formset/jquery.formset1.js' %}"></script>
  <script>

    $('.formset_row').formset({
        addText: '<i class="fas fa-plus"> </i>Ajouter une Ligne',
        addCssClass: "btn btn-outline-primary btn-rounded btn-sm",
        deleteText: '<i class="fas fa-trash"> </i>',
        prefix: 'form_set',
        formTemplate: null,
        added : function($row) {
            //console.log($row)
           index = $row[0].rowIndex
           for (let i = 0; i <= index ; i++) {
               }


        }
    });

   $(document).on('change', '.model', function() {
       loadImage()
    });
    loadImage()
   function loadImage() {
       model = $('.model').val()

       if(model) {
           $.ajax({
                    url : '{% url 'loadImage' %}' ,
                    method : 'GET' ,
                    data: { id : model },
                    success : function(data){
                        if(data.image != ""){
                            $("#logoFabricant").attr("src",data.image)
                         //$("#logoFabricant").src =data.image
                        }else{
                           $("#logoFabricant").attr("src",'{% static 'rakuda/assets/plugins/smart-wizard/css/smart_wizard_all.min.css'%}')
                        }
                        //console.log(data.image)
                    }
                });
       }
   }
{% if messages %}
     {% for message in messages %}
         message = $("#message").html()
         console.log(message)
        notif(message)
	{% endfor %}
{% endif %}

  function notif(message) {
      Lobibox.notify("success", {
            pauseDelayOnHover: true,
            continueDelayOnInactiveTab: false,
            position: 'top right',
            msg: message
        });
  }
  </script>
 {% endblock %}
