{% extends 'cork/base.html' %}
{% load static %}

 {% load widget_tweaks %}
 {% load crispy_forms_tags %}
  {% block head-css %}
	<link href="{% static 'rakuda/assets/plugins/smart-wizard/css/smart_wizard_all.min.css'%}" rel="stylesheet" type="text/css" />
   <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'cork/assets/css/apps/invoice-add.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/dropify/dropify.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cork/assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'cork/plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'cork/plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

  {% endblock %}

      {% block app-Title%}Inventory{% endblock %}

{% block breadcrumb%}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0);">Gestion des Sites</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="javscript:void(0);">Listing</a></li>
    </ol>
{% endblock %}

{% block button-action%}

     <form method="post" action="{% url 'etat.pdf_filter' %}" novalidate>
            {% csrf_token %}
    <div class="ms-auto">
       <button type="submit" class="btn btn-success">Generer ETAT</button>
	</div>
{% endblock %}
  {% block content %}
     <!--  BEGIN CONTENT AREA  -->
         <div class="row invoice layout-top-spacing layout-spacing">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="doc-container">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="invoice-content">

                                        <div class="invoice-detail-body">

                                            <div class="invoice-detail-title">

                                                <div class="invoice-logo" >
                                                    <h3 style="border-bottom: 1px solid #ccc"> Etat / par Bureau </h3>
                                                        <small>
                                                            Etat
                                                        </small>
                                                </div>

                                                <div class="invoice-title">

                                                </div>

                                            </div>

                                            <div class="invoice-detail-header">

                                                <div class="row justify-content-between">

                                                    <div class="col-xl-6 invoice-address-company">

                                                        <div class="invoice-address-company-fields">

                                                            <div class="form-group row"style="display: none">
                                                                <label for="company-name" class="col-sm-3 col-form-label col-form-label-sm">Libelle</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control form-control-sm" id="company-names"  value="#{{ site.libelle}}" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" >
                                                                <div class="col-sm-9">
                                                                     {{ form.site|add_class:' form-control'|as_crispy_field }}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" >
                                                                <div class="col-sm-9">
                                                                     {{ form.bureau|add_class:' form-control'|as_crispy_field }}
                                                                </div>
                                                            </div>



                                                        </div>

                                                    </div>





                                                </div>

                                            </div>




                                        </div>

                                    </div>

                                </div>


                            </div>


                        </div>

                    </div>
                </div>
        <!--  END CONTENT AREA  -->
      </form>
  {% endblock%}  <!-- END MAIN CONTAINER -->

   {% block foot-javascript %}
       <script src="{% static 'cork/plugins/dropify/dropify.min.js'%}"></script>
    <script src="{% static 'cork/plugins/flatpickr/flatpickr.js'%}"></script>
    <script src="{% static 'cork/assets/js/apps/invoice-add.js'%}"></script>
 {% endblock %}



    <!-- END GLOBAL MANDATORY SCRIPTS -->
