{% extends 'cork/base.html' %}
{% load static %}
{% load html_key %}
 {% load widget_tweaks %}
 {% load crispy_forms_tags %}
  {% block head-css %}
	<link href="{% static 'rakuda/assets/plugins/smart-wizard/css/smart_wizard_all.min.css'%}" rel="stylesheet" type="text/css" />
   <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'cork/assets/css/apps/invoice-add.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'cork/plugins/dropify/dropify.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'cork/assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'cork/plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'cork/plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->
<style>
.invoice-detail-notes{
    height: 88px;
}
</style>
  {% endblock %}

      {% block app-Title%}Inventory{% endblock %}

{% block breadcrumb%}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0);">Gestion des Sites</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="javscript:void(0);">Listing</a></li>
    </ol>
{% endblock %}

{% block button-action%}

     <form method="post" action="" novalidate>
            {% csrf_token %}
    <div class="ms-auto">

                        <a href="{% url 'vehiculeAdd' %}" class="btn btn-outline-primary">Ajouter un Véhicule</a>

					</div>
{% endblock %}
  {% block content %}
    {% for message in messages %}
        <div style="display: none" id="message">

            {{ message | safe }}
        </div>
    {% endfor %}
          <div class="row">
          <form method="post" action="{% url 'dashboard' %}" novalidate>
            {% csrf_token %}
					<div class="col-xl-12 mx-auto">

						<hr/>
						  <div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="mb-0">Liste des Véhicules</h5>
							</div>
							<div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
							</div>
						</div>
						<hr>
						<div class="table-responsive">
							<table class="table align-middle mb-0" id="listing">
								<thead class="table-light">
									<tr>
										<th>#</th>
										<th>Immatriculation</th>
										<th>Model</th>
										<th>Numero de Chassi</th>
										<th>ANNEE ACQUISTION</th>

										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
                                {% for vehicule in vehicule_list %}
									<tr>
										<td>{{ vehicule.id }}</td>
										<td>{{ vehicule.immatriculation }}</td>
										<td>
											<div class="d-flex align-items-center">
												<div class="recent-product-img">
													<img src="../{{ vehicule.model_id.fabricant_id.image}}" alt="">
												</div>
												<div class="ms-2">
													<h6 class="mb-1 font-14">{{ vehicule.model_id.fabricant_id.libelle}}/{{ vehicule.model_id.libelle}}-{{ vehicule.materials.fabricat_year }}</h6>
												</div>
											</div>
										</td>
										<td>{{ vehicule.num_chassi }}</td>
										<td>{{ vehicule.materials.name }}</td>

										<td>
                                            {% if vehicule.status == '1' %}
											    <div class="badge rounded-pill bg-success w-100">BON ETAT</div>
                                                {% else %}
                                                <div class="badge rounded-pill bg-danger  w-100">EN PANNE</div>
										    {% endif %}
                                        </td>
										<td>
											 <div class="d-flex order-actions">
                                                        <a href="{% url 'vehicule.update' vehicule.id %}" class="btn btn-outline-info ms-4"><i class="fas fa-cog"></i></a>
                                                        <a href="javascript:;" class="btn btn-outline-danger ms-4 desactive"
                                                           style="margin-left: 10px" rel="{{ vehicule.id }}"
                                   data-toggle-name="{{  vehicule.immatriculation }}">
                                                            <i class="fas fa-trash"></i></a>
                                                    </div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
					</div>
          </form>
				</div>
       <div class="modal fade " id="modal-default">
                      <form method="POST" action="{% url 'vehicule.delete' %}">
                        <div class="modal-dialog ">
                          <div class="modal-content ">
                            <div class="modal-header">

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="alignment: center">
                     <!-- Create a Form -->

                                <!-- Security token by Django -->
                                {% csrf_token %}
                                <h5 id="text-alert">ÊTES VOUS SUR DE VOULOIR DÉSACTIVER/ACTIVER LA STRUCTURE?  </h5>
                                <h3 style="font-weight: bold" id="name"></h3>

                                <input type="hidden" value="" name="pk" id="pk" />
                                <input type="hidden" value="" name="is_active" id="is_active" />


                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fermer</button>
                      <button type="submit" class="btn btn-danger" id="confirm">Confimer</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                      </form>
                <!-- /.modal-dialog -->
              </div>

    {% endblock %}

 {% block foot-javascript %}
     <script src="{% static 'cork/plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'cork/plugins/table/datatable/datatables.js'%}"></script>
    <script src="{% static 'cork/plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
  <script>
   $(document).on('change', '.model', function() {
       loadImage()
    });

   $("#listing").DataTable({
        "language": {
                            "url": "{% static 'dataTable-fr.json' %}"
                            },
   });
    $(".desactive").click(function(){
         $("#pk").val($(this).attr("rel"))
         $("#is_active").val($(this).attr("rev"))
         $("#name").html('<center>  "LE  VEHICULE ' + $(this).attr("data-toggle-name")+' " ? </center>')

          action = "SUPPRIMER"
          if($(this).attr("rev") == "True") {
              action = "DÉSACTIVER"
          }

          $("#text-alert").html("<b>ÊTES VOUS SUR DE VOULOIR  "+action+" </b>")
          $("#confirm").html(action)
          $('#modal-default').modal({
              //show : true,
              backdrop : 'static',
              keyboard:false
          });

      });
 loadImage()
   function loadImage() {
       model = $('.model').val()

       if(model) {
           $.ajax({
                    url : '{% url 'loadImage' %}' ,
                    method : 'GET' ,
                    data: { id : model },
                    success : function(data){
                        if(data.image != ""){
                            $("#logoFabricant").attr("src",data.image)
                         //$("#logoFabricant").src =data.image
                        }else{
                           $("#logoFabricant").attr("src",'{% static 'rakuda/assets/plugins/smart-wizard/css/smart_wizard_all.min.css'%}')
                        }
                        //console.log(data.image)
                    }
                });
       }
   }
{% if messages %}
     {% for message in messages %}
         message = $("#message").html()
         console.log(message)
        notif(message)
	{% endfor %}
{% endif %}

  function notif(message) {
      Lobibox.notify("success", {
            pauseDelayOnHover: true,
            continueDelayOnInactiveTab: false,
            position: 'top right',
            msg: message
        });
  }

  </script>
 {% endblock %}
